Q1. What are data structures, and why are they important ?->

 > Data structures are ways to organize and store data in a computer so that it can be used efficiently.

 Why are they important?

 > They help programs store data properly
 Make it easier and faster to access, search, and modify data
 Without good data structures, programs would be slow and complicated
 They form the foundation for algorithms and solving real-world problems

Q2. Explain the difference between mutable and immutable
 data types with examples?

  > Mutable data types are those whose values can be changed after they are created.

 > Immutable data types are those whose values cannot be changed once created

In [13]:
# Mutable example
my_list = [1, 2, 3]
my_list[0] = 10
# Works fine, list ke elements change ho sakte hain
print("Mutable list after change:", my_list)  # Output: [10, 2, 3]

 # Immutable example
my_str = "hello"
try:

 my_str[0] = "H"
except TypeError as e:
 print("Error:", e)

Mutable list after change: [10, 2, 3]
Error: 'str' object does not support item assignment

Q3. What are the main differences between lists and tuples
 in Python?
 > | **Feature**           | **List**                                                        | **Tuple**                                                                               |
| --------------------- | --------------------------------------------------------------- | --------------------------------------------------------------------------------------- |
| **Definition**        | Ordered collection of items.                                    | Ordered collection of items.                                                            |
| **Syntax**            | Written with square brackets `[]`                               | Written with round brackets `()`                                                        |
| **Mutability**        | **Mutable** → can be changed (add, remove, update elements).    | **Immutable** → cannot be changed after creation.                                       |
| **Methods Available** | Many methods: `append()`, `remove()`, `extend()`, `pop()`, etc. | Very few methods: mainly `count()` and `index()`.                                       |
| **Performance**       | Slightly slower (because of mutability & flexibility).          | Faster (immutable, uses less memory).                                                   |
| **Use Cases**         | When you need a collection that may change (dynamic data).      | When you need fixed data that shouldn’t change (constants, dictionary keys, safe data). |
| **Example**           | `fruits = ["apple", "banana", "mango"]`                         | `coordinates = (10, 20, 30)`                                                            |

In [ ]:
 # List example
 my_list = [1, 2, 3]
 my_list[0] = 10   # Works fine
 # Tuple example
 my_tuple = (1, 2, 3)
 # my_tuple[0] = 10  # Error: tuples cannot be changed

Q4. Describe how dictionaries store data?

> A dictionary stores data as key-value pairs.
 Each key is unique and is used to access its corresponding value.
 Dictionaries are mutable, so you can add, update, or remove items.
 Internally, dictionaries use a hash table for fast lookups.

In [14]:
 #Creating a dictionary
 student = {
 "name": "Ritesh",
 "age": 21,
 "course": "Engineering"
 }
 # Accessing data
 print(student["name"])  # Output: Ritesh
 # Adding new key-value pair
student["grade"] = "A"
 # Updating value
student["age"] = 22

Ritesh

Q5. Why might you use a set instead of a list in Python?

 > Sets are collections of unique elements, they automatically remove duplicates.
 They are unordered, so elements don’t have a specific position.
 Sets provide faster membership testing (
 in
 operator) compared to lists.
 Useful when you want to eliminate duplicates or perform mathematical operations like
 union, intersection, difference.

In [17]:
 # List with duplicates
 my_list = [1, 2, 2, 3, 4, 4, 5]
 # Convert to set to remove duplicates
 my_set = set(my_list)
 print(my_set)  # Output: {1, 2, 3, 4, 5}
 # Membership test
 print(3 in my_set)  # True (fast check)

{1, 2, 3, 4, 5}
True

 Q6. What is a string in Python, and how is it different from
 a list?

 > A string is a sequence of characters enclosed in quotes (
 ' '
 or
" "
 ).
 Strings are immutable, meaning once created, their content cannot be changed.
 Strings are used to represent text data

In [19]:
# String example
my_str = "Hello"
 # my_str[0] = "h"  # Error: strings are immutable
 # List example
my_list = ['H', 'e', 'l', 'l', 'o']
my_list[0] = 'h'   # Works fine
print(my_list)
# Output: ['h', 'e', 'l', 'l', 'o']

['h', 'e', 'l', 'l', 'o']

 Q7. How do tuples ensure data integrity in Python?

>  Tuples are immutable, which means once a tuple is created, its contents cannot be
 changed.
 This immutability protects the data from accidental modification or deletion.
 Because tuples cannot be altered, they are safer to use for fixed data that should not be
 modified.
 This helps in maintaining data integrity especially when passing data between functions
 or modules.
 Tuples can also be used as keys in dictionaries because they are immutable.

In [20]:
 my_tuple = (10, 20, 30)
 # my_tuple[0] = 100  # Error: tuples cannot be changed
 print(my_tuple)  # Output: (10, 20, 30)

(10, 20, 30)

 Q8. What is a hash table, and how does it relate to
 dictionaries in Python?

 > A hash table is a data structure that stores key-value pairs.
 It uses a hash function to compute an index (called a hash) into an array, where the value
 is stored.
 This allows fast data lookup, insertion, and deletion, usually in constant time O(1)

  How Does It Relate to Python Dictionaries?

 > Python dictionaries are implemented using hash tables internally.
 When you use a dictionary, Python computes the hash of the key and stores the value at that position.
 This is why dictionary operations like dict[key] are very fast.
 Keys in dictionaries must be hashable (immutable data types like strings, numbers,tuples)

In [21]:
 my_dict = {'name': 'Ritesh', 'age': 21}
 print(my_dict['name'])  # Output: Ritesh

Ritesh

Q9. Can lists contain different data types in Python?

 > Yes, lists in Python can contain elements of different data types.
 A single list can have integers, strings, floats, booleans, and even other lists or objects.
 This makes lists very flexible and useful for storing mixed data

In [23]:
 #Example:
 my_list = [10, "hello", 3.14, True, [1, 2, 3]]
 print(my_list)
 # Output: [10, 'hello', 3.14, True, [1, 2, 3]]

[10, 'hello', 3.14, True, [1, 2, 3]]

Q10. Explain why strings are immutable in Python?

 > Strings are immutable, meaning once created, their contents cannot be changed.
 This design choice helps Python to:

  Optimize memory usage by allowing string reuse (string interning).
 Make strings thread-safe (safe to use in multiple parts of a program without
 unintended changes).

  Prevent bugs by avoiding accidental changes to string data.
 When you modify a string, Python actually creates a new string instead of changing the original.

Q11. What advantages do dictionaries offer over lists for
 certain tasks?

 > Fast Lookup:
 Dictionaries provide fast access to values using keys (usually in constant time O(1)), while
 lists require searching through elements (O(n)).

 > Key-Value Pair Storage:
 Dictionaries store data as key-value pairs, making it easy to represent relationships (like a
 person's name and age), whereas lists store ordered items without keys.
 Uniqueness of Keys:
 Keys in dictionaries are unique, preventing duplicate entries for the same key.
 Flexible Data Access:
 You can access data directly by key rather than by position or index.

Q12. Describe a scenario where using a tuple would be
 preferable over a list.

 > A tuple is preferable when you want to store fixed, unchangeable data that should remain
 constant throughout the program

In [25]:
#Example Scenario:
 #Storing geographical coordinates of a location.
 # Using a tuple for fixed coordinates
location = (28.6139, 77.2090)  # Latitude, Longitude
 # location[0] = 29.0000  # This will cause an error (immutable)
print(location)  # Output: (28.6139, 77.2090)

(28.6139, 77.209)

Q13. How do sets handle duplicate values in Python?

> Key Point:
 In Python, sets automatically remove duplicates.
 They store only unique elements and ignore any repeated values.

Q14. How does the “in” keyword work differently for lists
 and dictionaries?

> In Lists:
 in checks if the given element exists anywhere in the list.

> In Dictionaries:
 in checks only if the given value exists as a key, not as a value

In [12]:
# Example for list
my_list = [1, 2, 3]
print(2 in my_list)   # True
print(5 in my_list)   # False
 # Example for dictionary
my_dict = {"a": 1, "b": 2}
print("a" in my_dict)
print(1 in my_dict)
# True (key exists)
 # False (1 is a value, not a key)
print(1 in my_dict.values())  # True (checks in values)

True
False
True
False
True

 Q15. Can you modify the elements of a tuple? Explain why
 or why not?

 > No, you cannot modify the elements of a tuple in Python because tuples are immutable.
 Once a tuple is created, its elements cannot be changed, added, or removed.
 This immutability makes tuples useful for storing fixed data that should not change during
 program execution.

Q16. What is a nested dictionary, and give an example of
 its use case?

 > A nested dictionary in Python is a dictionary inside another dictionary.
 It is used to store complex and structured data in a hierarchical form.

 > Key Points:
 Allows data to be grouped together logically.
 Useful for representing data that has multiple levels (e.g., students with subject marks,
 company with departments and employees).
 Access data using multiple keys

In [9]:
#Example: Student Information
 # Creating a nested dictionary
students = {
 "student1": {"name": "Alice", "age": 20, "marks": {"Math": 90, "Science": 85}},
 "student2": {"name": "Bob", "age": 21, "marks": {"Math": 78, "Science": 88}}
 }
 # Accessing nested values
print(students["student1"]["name"])
# Output: Alice
print(students["student1"]["marks"]["Math"])  # Output: 90
 # Modifying a value in nested dictionary
students["student2"]["marks"]["Science"] = 92
print(students)

Alice
90
{'student1': {'name': 'Alice', 'age': 20, 'marks': {'Math': 90, 'Science': 85}}, 'student2': {'name': 'Bob', 'age': 21, 'marks': {'Math': 78, 'Science': 92}}}

Q17.Describe the time complexity of accessing elements
 in a dictionary?

 > In Python, a dictionary is implemented using a hash table.
 Each key is hashed to determine where its value is stored in memory.
 This makes element access very fast.

  Time Complexity:
 Average Case:
O(1)

→
 Constant time
 Reason: Hashing allows direct access to the value using its key.
 Worst Case:
O(n)

→
 > Linear time
 Reason: Can happen if hash collisions occur and all keys fall into the same bucket (rare in
 Python's implementation).

In [26]:
# Creating a dictionary
my_dict = {"a": 10, "b": 20, "c": 30}
 # Accessing elements
print(my_dict["a"])  # O(1) operation
print(my_dict["c"])  # O(1) operation

10
30

Q18. In what situations are lists preferred over
 dictionaries?

 > When to Prefer Lists:
 1. Order Matters
 Lists maintain the order of elements by index.
 Useful when you need to process items in a specific sequence.
 2. No Need for Key-Value Pairs
 If your data doesn't require unique keys and you just want to store values.
 3. Duplicate Values Are Allowed
 Lists can store the same value multiple times, unlike sets or dictionary keys.
 4. Index-Based Access is Needed
 You can access elements directly using their index (e.g.,
my_list[0]
 )

In [27]:
 # Example where list is preferred
 # Storing marks of students in order of roll numbers
student_marks = [85, 90, 78, 92, 88]
 # Accessing marks of 3rd student (roll number 3)
print("Marks of student with roll no 3:", student_marks[2])
 # Adding a new student's marks
student_marks.append(95)
 # Display updated list
print("Updated Marks List:", student_marks)

Marks of student with roll no 3: 78
Updated Marks List: [85, 90, 78, 92, 88, 95]

 Q19. Why are dictionaries considered unordered, and how
 does that affect data retrieval ?

>  Before Python 3.7: Dictionaries did not preserve the order of insertion, meaning the order
 of items could appear random.
 From Python 3.7 onwards: Dictionaries preserve insertion order, but conceptually they are
 still unordered collections, because:
 Access to values is based on keys (hashing), not position.
 You cannot rely on indexes like lists (
 dict[0]
 is invalid).

> Effect on Data Retrieval:
 1. No Index-Based Access
 Retrieval happens through keys, not positions.
 2. Fast Access Using Keys
 Average time complexity for lookup is O(1) because of hash table implementation.
 3. Iteration Order May Not Matter
 If your program logic depends on data order, a dictionary might not be suitable
 unless you explicitly maintain order.

In [32]:
 # Example: Dictionary (unordered concept)
student_data = {
 "name": "Alice",
 "age": 21,
 "course": "Computer Science"
 }
 # Access by key
print("Student Name:", student_data["name"])
print("Student Age:", student_data["age"])
 # Iterating over dictionary
print("\nDictionary Items:")
for key, value in student_data.items():
    print(key, ":", value)
 # Trying index access (will cause error)
 # print(student_data[0])  #  This will raise a KeyError

Student Name: Alice
Student Age: 21

Dictionary Items:
name : Alice
age : 21
course : Computer Science

Practice Question

In [3]:
 # Q1. Write a code to create a string with your name and print it
 name = "Ritesh"
 print(name)

Ritesh

In [4]:
#Q2. Write a code to find the length of the string "Hello World"
text = "Hello World"
length = len(text)
print("Length of the string:", length)

Length of the string: 11

In [6]:
# Q3.Write a code to slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
first_three_chars = text[0:3]
print(first_three_chars)

Pyt

In [7]:
 # Q4.Write a code to convert the string "hello" to uppercase
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

In [8]:
 # Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [34]:
 #Q6.Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [35]:
 # Q7.Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [36]:
 # Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [37]:
 # Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [38]:
# Q10. Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [39]:
 #Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [ ]:
 # Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'b
colors = ('red', 'green', 'blue', 'yellow')
print(colors[1:])

In [40]:
 # Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [41]:
# Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'r

animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [42]:
 # Q15. Write a code to create a tuple containing three different fruits and check if "kiw
fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)

False

In [43]:
# Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

In [44]:
# Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [46]:
# Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [47]:
# Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
result = set1.union(set2)
print(result)

{1, 2, 3, 4, 5}

In [48]:
#Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
result = set1.intersection(set2)
print(result)
{2, 3}

{2, 3}

{2, 3}

In [49]:
# Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and p
my_dict = {
 "name": "Ritesh",
 "age": 22,
 "city": "Nalanda, BIHAR"
 }
print(my_dict)

{'name': 'Ritesh', 'age': 22, 'city': 'Nalanda, BIHAR'}

In [ ]:
# Q22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name
 # Original dictionary
person = {'name': 'John', 'age': 25}
 # Adding new key-value pair
person['country'] = 'USA'
 # Printing updated dictionary
print(person)

In [51]:
 # Q23. Write a code to access the value associated with the key "name" in the dictionary
person = {'name': 'Alice', 'age': 30}
print(person['name'])

 # Accessing value using key

Alice

In [52]:
# Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
 # Removing key 'age'
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [53]:
# Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice',
person = {'name': 'Alice', 'city': 'Paris'}
 # Check if 'city' key exists
print('city' in person)

True

In [55]:
# Q26 Write a code to create a list, a tuple, and a dictionary, and print them all.
 # Creating a list
my_list = [1, 2, 3]
 # Creating a tuple
my_tuple = (4, 5, 6)
 # Creating a dictionary
my_dict = {'name': 'Alice', 'age': 25}
 # Printing all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'name': 'Alice', 'age': 25}

In [56]:
 #Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in as
import random
 # Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]
# Sort the list in ascending order
random_numbers.sort()
 # Print the sorted list
print(random_numbers)

In [57]:
 # Q28. Write a code to create a list with strings and print the element at the third index
 # Creating a list of strings
fruits = ["apple", "banana", "cherry", "orange", "mango"]
 # Accessing the element at the third index
print(fruits[3])

orange

In [58]:
# Q29.Write a code to combine two dictionaries into one and print the result
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
 # Merge dict2 into dict1
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [59]:
 # Q30. Write a code to convert a list of strings into a set
 # List of strings
fruits_list = ["apple", "banana", "apple", "orange", "banana"]
 # Convert list to set
fruits_set = set(fruits_list)
print(fruits_set)

{'banana', 'apple', 'orange'}